.Banner{
    background-color: #2AA7FF;
    height: 40px;
    line-height: 40px; /* to vertically align text to center */
    text-align: center;
    padding: auto;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
}